name: GitHub Actions Demo

on: [push]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Log message
        run: echo "Repository cloned and workflow running!"

      - name: Run a one-line script
        run: echo Hello, world!

      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
          npm install # Example: if you had a package.json
          npm test # Example: if you had tests defined
          node index.js # Example: if you have an index.js file
